body {
  font-family: Arial, sans-serif;
  background-color: #080808;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 60px;
  background-color: #fafcfa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo {
  text-align: center;
  margin-bottom: 40px;
}
.logo img {
  width: 250px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #f5b40f;
  border-radius: 5px;
  font-size: 16px;
}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f5b40f;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: #fc9505;
}
